body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #dcdcdc;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box {
    background-color: #0b1b2b;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 5px;
}

.brand {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links .active {
    font-weight: bold;
    color: #1e3a5f;
}

.icon {
    font-size: 22px;
    cursor: pointer;
}

/* Main Layout */
.main-container {
    display: flex;
    padding: 20px 40px;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    width: 300px;
}

.image-box {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.image-box img {
    width: 100%;
    border-radius: 10px;
}

.side-btn {
    margin-top: 20px;
    background-color: #bfbfbf;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

.side-btn:hover {
    background-color: #a6a6a6;
}

.qr-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.qr {
    width: 120px;
    height: 120px;
    background: repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        white 10px,
        white 20px
    );
}

/* Content */
.content {
    flex: 1;
}

.content h1 {
    margin-top: 0;
    font-size: 40px;
}

.print-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.large-box {
    margin-top: 20px;
    height:400px;
    background-color: #bfbfbf;
    text-align: center;
}
.large-box p
{
    margin-top: 150px;
}

/* Bottom Cards */
.bottom-cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.card {
    flex: 1;
    background-color: #bfbfbf;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

.card h3 {
    margin: 0;
    font-size: 22px;
}

.card p {
    font-size: 32px;
    margin-top: 10px;
    color: #1e3a5f;
}
a
{
    color: #0b1b2b;
    text-decoration: none;
}
a:hover
{
    color: rgb(128, 68, 0);
}
#button_history
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table-section {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
     border-radius: 10px;
}

th{
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #bdbdbd;
     padding: 10px;
}

th {
    background: #f4f6f9;
}

.remove-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
td
{
    background-color: rgb(247, 247, 247);
    border-style: solid;
    border-width: 10px;
    border-color: #e4e3e3;
     padding: 10px;
     text-align: center;
}
.profile-icon {
    font-size: 20px;
    cursor: pointer;
}
/* SLIDE PANEL */
.slide-panel {
    position: fixed;
    top: 0;
    right: -350px;   /* hidden outside screen */
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -4px 0 15px rgba(0,0,0,0.1);
    transition: right 0.4s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.slide-panel.active {
    right: 0;  /* slides in */
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.panel-content {
    padding: 20px;
}
#profile_contain
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 30px;
    text-align: center;
}
#Profile_image
{
    height: 200px;
    background-image: url(profile_pic.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 90%;
    border-radius: 90%;
    border-style: solid;
    border-width: 5px;
    border-color: #333;
}
.profile
{
    color: black;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;

}
#closePanelBtn
{
    background-color: #ff4d4d;
}
#active_time
{
    background-color: red;
}
#remove
{
    display: flex;
    gap : 10px;
    align-items: center;
}